extends layout

block content
  #wrapper
    div(id='container', class='center-text')
      //- span(id='close', onclick='location.reload()', title='sign out')
      //-   img(src='/images/close_button.svg')
      #content
        img(src='/images/bitcoin_wallet.svg')
        h1 Bitcoin Wallet
        p Type Your Private Key
        form(id='pass_form' class='form-inline')
          
          input(id='passphrase' type='text' placeholder='Your private key' class='form-control')
          
          
          button(type='submit' class='btn btn-primary') Open
        
          
          
        div(id='status')
          //input(type='text' class='form-control is-valid' id='validationServer01' placeholder='First name')
          //div(class='valid-feedback') Lol
          //<input type="text" class="form-control is-valid" id="validationServer01" placeholder="First name" value="Mark" required>
        
          
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  
  script.
    $(document.forms['pass_form']).on('submit', function(e) {
      e.preventDefault();
      //var form = $(this);
      //console.log($('#passphrase').val());
      $.ajax({
        url: '/',
        method: 'POST',
        data: {pk: $('#passphrase').val()},
      //-   complete: function() {
      //-     $(":submit", form).button("reset");
      //-   },
        statusCode: {
          200: function() {
            //form.html("You are logged in").addClass('alert-success');
            window.location.href = "/send";
          },
          400: function(jqXHR) {
            $("#status").html(jqXHR.responseText);
            //$("#passphrase").classList.remove("form-control");
            //$("#status").classList.add("invalid-feedback");
          }
        }
      });
      //return false;
    });
