extends layout

block content
  #wrapper
    div(id='container', class='center-text')
      #content
        img(src='/images/bitcoin_wallet.svg')
        h1 Bitcoin Wallet
        .left-text
          h4(id='deposit') To deposit funds to your wallet, send Bitcoin to this address:
          h4(id='adr') #{address}
          div
            h3(id='balance') Balance:
            h3(id='transactions') #{balance} BTC
          form(id='send_form' class='form-inline')
            div(id='address_div')
              input(id='to', type='text', placeholder='Receiver address' class='form-control')
              div(id='addr_invalid')
            div(id='amount_div')
              input(id='amount', type='text', placeholder='Amount' class='form-control')
              div(id='amount_invalid')
            div
              button(type='submit' class='btn btn-primary') Send
              div(id='button_under' class='invis')
          div(id='after_accept')
            h5(class='h_inline_block') Your transaction&nbsp;
            h5(class='trans_id' class='h_inline')
            div
            h5(class='h_inline_block') is confirmed by
            h5(class='trans_conf' class='h_inline') &nbsp;0 
            h5(class='h_inline') confirmations in block&nbsp;
            h5(id='trans_block' class='h_inline')
          div(id='before_accept' class='invis')
            h5(class='h_inline_block') Your transaction
            h5(id='tran_id' class='trans_id' class='h_inline')
            div
            h5(class='h_inline_block') is accepted, please wait for confirmation.
            div
            h5(class='h_inline_block') Number of confirmations:
            h5(id='tran_conf' class='trans_conf' class='h_inline') &nbsp;0 
          #for_err
            
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script.
    function getConfirms(){
      $.ajax({
        url: '/send/:txid',
        method: 'POST',
        data: {txid: $("#tran_id").text()},
        statusCode: {
          200: function(jqXHR) {
            $(".trans_conf").text(" " + jqXHR.confirmations + " ");
            console.log(jqXHR);
            if(jqXHR.confirmations>0 && !$("#before_accept").hasClass("invis")) {
              $("#trans_block").text(jqXHR.blockHeight);
              $("#before_accept").hide();
              $("#after_accept").css("visibility", "visible");
              $("#after_accept").show();
            }
          },
          400: function(jqXHR) {
            console.log(jqXHR);
          }
        }
      });
      if($("#tran_conf").text().trim() > 0){
        return;
      }
      setTimeout(getConfirms, 20000);
    }
    
    $(document.forms['send_form']).on('submit', function(e) {
      e.preventDefault();
      $.ajax({
        url: '/send',
        method: 'POST',
        data: {toAddr: $('#to').val(), amount: $('#amount').val()},
        statusCode: {
          200: function(jqXHR) { 
            console.log(jqXHR);
            $(".trans_id").text(jqXHR);      
            $("#button_under").text(".");
            $("#to").removeClass("is-invalid").val("");
            $("#addr_invalid").removeClass("invalid-feedback").addClass("invis").text(".");
            $("#amount").removeClass("is-invalid").val("");
            $("#amount_invalid").removeClass("invalid-feedback").addClass("invis").text(".");
            $(".trans_conf").text(" 0 ");
            $("#before_accept").removeClass("invis");
            $("#before_accept").show();  
            $("#after_accept").hide();            
            getConfirms();
          },
          400: function(jqXHR) {
            $("#button_under").text(".");
            $("#amount").removeClass("is-invalid");
            $("#amount_invalid").removeClass("invalid-feedback").addClass("invis").text(".");
            $("#addr_invalid").addClass("invis").text(".");
            
            switch(jqXHR.responseText) {
              case "Invalid address":
                $("#to").addClass("is-invalid");
                $("#addr_invalid").addClass("invalid-feedback").removeClass("invis").text("Address is invalid");
                break;
              case "Not enough money":
                $("#amount").addClass("is-invalid");
                $("#amount_invalid").addClass("invalid-feedback").removeClass("invis").text("Not enough money");
                break;
              case "Try again later":
                $("#for_err").text("Try again later");
                break;  
            }
            
          }
        }
      });  
    });
