extends layout

block content
  #wrapper
    div(id='container', class='center-text')
      //- span(id='close', onclick='location.reload()', title='sign out')
      //-   img(src='/images/close_button.svg')
      #content
        img(src='/images/bitcoin_wallet.svg')
        h1 Bitcoin Wallet
        .left-text
          p To deposit funds to your wallet, send Bitcoin to this address:
          span(id='adr') #{address}
          div
            h2(id='balance') Balance:
            span(id='transactions') #{balance}
          form(id='send_form' class='form-inline')
            input(id='to', type='text', placeholder='address' class='form-control')
            input(id='amount', type='text', placeholder='amount' class='form-control')
            button(type='submit' class='btn btn-primary') Send
          #status
          button(type='button' id='button' class='btn btn-primary') Confirms
          #confirms
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script.
    $(document.forms['send_form']).on('submit', function(e) {
      e.preventDefault();
      //var form = $(this);
      //console.log($('#passphrase').val());
      $.ajax({
        url: '/send',
        method: 'POST',
        data: {toAddr: $('#to').val(), amount: $('#amount').val()},
      //-   complete: function() {
      //-     $(":submit", form).button("reset");
      //-   },
        statusCode: {
          200: function(jqXHR) {
            
            $("#status").text(jqXHR.responseText);
            //form.html("You are logged in").addClass('alert-success');
            //window.location.href = "/send";
          },
          400: function(jqXHR) {
            $("#status").text(jqXHR.responseText);
            //- var error = JSON.parse(jqXHR.responseText);
            //- $('.error', form).html(error.message);
            console.log("looool");
            console.log(jqXHR);
          }
        }
      });
      //return false;
    });
    
    $("#button").click(function(e){
      e.preventDefault();
      $.ajax({
        url: '/send/:txid',
        method: 'POST',
        data: {txid: 'fb11cf1b44aba478ba21071a589d31975db4e5437c1e6fb2d19f0918645f04a3'},
      //-   complete: function() {
      //-     $(":submit", form).button("reset");
      //-   },
        statusCode: {
          200: function(jqXHR) {
            
            $("#confirms").text(jqXHR);
            console.log(jqXHR);
            //form.html("You are logged in").addClass('alert-success');
            //window.location.href = "/send";
          },
          400: function(jqXHR) {
            //$("#confirms").text(jqXHR.responseText);
            //- var error = JSON.parse(jqXHR.responseText);
            //- $('.error', form).html(error.message);
            console.log("looool");
            console.log(jqXHR);
          }
        }
      });
    });
    
