html {
    height: 100%;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#header-binary {
    height: 55px;
    background: #2a3052;
    border-bottom: 4px solid #e98024;
    text-align: center;
    padding: 10px 0;
}

#for_error{
  padding-top: 10px;
}

.h_inline{
  display: inline;
}

#trans_info{
  margin-top: 10px;
}

#address_div{
  margin-right: 10px;
  width: 55%;
}

#amount_div{
  margin-right: 20px;
  width: 20%;
}

#after_accept{
  visibility: hidden;
}

#button{
  visibility: hidden;
}

#header-binary a {
    margin: 0 auto;
    vertical-align: middle;
    display: inline-block;
    min-width: 220px;
}

#header-binary #symbol-logo {
    vertical-align: middle;
    height: 55px;
}

#header-binary #type-logo {
    vertical-align: middle;
    height: 37px;
    margin-left: 6px;
}

#wrapper {
    padding: 5vh;
    min-height: calc(90vh - 75px - 80px);
}

#container {
    margin: 0 auto;
    max-width: 70vw;
    padding: 5px 10px;
    box-shadow: 0 0 8px #c2c2c2;
}

#content {
    padding: 30px;
}

#pass_div {
  margin-right: 10px;
  width: 80%;
}

#pass_form input {
    width: 100%;
}

#send_form input {
  width: 100%;
}

.invis{
  opacity: 0;
}

#wif {
    color: #44484c;
}

.left-text {
    text-align: left;
}

#balance {
    display: inline-block;
    margin-bottom: 20px;
}

#close {
    float: right;
    display: none;
}

#close:hover {
    cursor: pointer;
}

#amount {
    width: 20%;
}

.h_inline_block{
  display: inline-block;
  margin: 0;
}

#transactions {
    margin-left: 15px;
    display: inline;
}

#confirms {
  display: inline;
}

#footer {
    font-size: 70%;
    padding: 20px;
    height: 40px;
    text-align: justify;
}

.content-inverse-color a {
    text-decoration: underline;
}

#adr {
    margin-bottom: 20px;
}

#prKeytext{
  margin-bottom: 20px;
  margin-top: 10px;
}

#deposit{
  margin-top: 20px;
}

@media screen and (max-width: 959px) {
    #footer {
        height: 100%;
    }
    #container {
        max-width: 85vw;
    }
    #to {
        width: 70%;
        display: block;
        margin: 0 auto;
    }
    #amount, #send_form button {
        display: block;
        margin: 10px auto;
        width: auto;
    }
    #adr {
        font-size: 130%;
    }
}

@media screen and (max-width: 480px) {
    #transactions {
        margin-left: 0;
        margin-bottom: 10px;
    }
    #to {
        margin-top: 20px;
    }
    #pass_form input {
        width: auto;
        margin-bottom: 10px;
    }
    #content {
        padding: 10px;
    }
    #adr {
        font-size: 65%;
    }
}
